<%content_for :main do %>

  <div id="subheader">
    <h4><a href="/users/<%=@user.slug%>"><%=@user.name.capitalize%>'s Home</a></h4>
  </div> <!--subheader-->

  <%if @user.rooms.empty? == true%>
    <section class = "clearfix"> 
      <h1>Start a New Project</h1>
      <div class="grid clearfix">
        <a class= "new-project" href="/projects/new">Start New Project</a>
      </div>
    </section>
  <%else%>
    <%@user.rooms.each do |room|%>
      <section class = "clearfix"> 
        <a href = '/users/<%=@user.slug%>/rooms/<%=room.slug%>'><h1><%=room.name.capitalize%></h1></a>
        <div class="grid clearfix">
          <%room.projects.each do |project|%>
            <a href="/users/<%=@user.slug%>/projects/<%=project.slug%>"><%=project.name.capitalize%></a>
          <%end%>
        </div>
      </section>
    <%end%>
  <%end%>
<%end%>

<%content_for :sidebar do%>
  <section>
    <h1>Sidebar</h1>
  </section>
<%end%>
