<%content_for :main do %>

  <!-- *********************  Subheader  ********************* -->
  <div id="subheader">
    <h4><a href="/users/<%=@user.slug(:username)%>"><%=@user.name.capitalize%>'s Home</a></h4>
  </div> <!--subheader-->

  <!-- *********************  Start new project if no projects  ********************* -->
  <%if @user.rooms.empty? == true && @user == current_user%>
    <section class = "clearfix"> 
      <h1>Start a New Project</h1>
      <div class="grid clearfix">
        <a class= "new-project" href="/users/<%=@user.slug(:username)%>/projects/new">Start New Project</a>
      </div><!--grid-->
    </section> <!--clearfix-->

  <!-- *********************  Show user rooms and projects  ********************* -->
  <%else%>
    <%@user.rooms.each do |room|%>
      <section class = "clearfix"> 
        <div class="section-title">
          <a href = '/users/<%=@user.slug(:username)%>/rooms/<%=room.slug(:name)%>'><h1><%=room.name.capitalize%></h1></a>
        </div> <!-- .section-title-->
        <div class="grid clearfix">
          <%room.projects.each do |project|%>
            <a href="/users/<%=@user.slug(:username)%>/projects/<%=project.slug(:name)%>"><%=project.name.capitalize%></a>
          <%end%>
        </div> <!--grid-->
      </section>
    <%end%>
  <%end%>
<%end%>

<!-- *********************  Sidebar  ********************* -->
<%content_for :sidebar do%>
  <section class='panel'>
    <div class='panel-item'>
      <h4>Projects Completed</h4>
      <h3><%=@user.number_of_projects_completed%></h3></br>
    </div>
    <div class='panel-item'>
      <h4>Total Cost of Projects</h4>
      <h3>$<%=@user.total_cost_of_incomplete_projects%></h3></br>
    </div>
    <div class='panel-item'>
      <h4>Time to Finish All Projects</h4>
      <h3><%=@user.total_duration_of_incomplete_projects%> hours</h3></br>
    </div>
  </section>
<%end%>
