<%content_for :main do %>
  <section class="clearfix">
    <h1>Edit <%=@project.name%></h1>

    <div class = "form clearfix">
      <form action="/users/<%=@project.user.slug%>/projects/<%=@project.slug%>" method="POST" id='edit_project'>
        <input id="hidden" type="hidden" name="_method" value="patch">  
        Project Name: <input type='text' name='name' value='<%=@project.name%>'></br>
        Description: <input type='text' name='description'value='<%=@project.description%>'></br>
        Materials: <input type='text' name='materials' value='<%=@project.materials%>'></br>
        Start a New Room: <input type='text' name='new_room'></br>
        Or Add to an Existing Room:</br>
        <%current_user.rooms.each do |room|%>
          <% if @project.room.name == room.name %>
            <input type='radio' name = 'room' value='<%=room.name%>' id='<%=room.name%>' checked><%=room.name.capitalize%> </br> 
          <%else%>
            <input type='radio' name = 'room' value='<%=room.name%>' id='<%=room.name%>'><%=room.name.capitalize%> </br> 
          <%end%>
        <%end%> </br>
        
        Project Status: <select name='status' form='edit_project'>
          <option value='Not Started'>Not Started</option>
          <option value='In Progress'>In Progress</option>
          <option value='Complete'>Complete</option>
        </select></br>
        <input type='submit' value='Update Project'>
      </form>
    </div>
  </section>
<%end%>

<%content_for :sidebar do%>
  <section>
    <h1>Sidebar</h1>
  </section>
<%end%>
