<%content_for :main do %>
  <!-- *********************  Subheader  ********************* -->
  <div id="subheader">
    <h4><a href="/users/<%=@project.user.slug%>"><%=@project.user.name.capitalize%>'s Home</a> &nbsp;>&nbsp; <a href="/users/<%=@project.user.slug%>/rooms/<%=@project.room.slug%>"><%=@project.room.name.capitalize%></a> &nbsp;>&nbsp; <a href="/users/<%=@project.user.slug%>/projects/<%=@project.slug%>"><%=@project.name.capitalize%></a> &nbsp;>&nbsp; Edit Project</h4>
  </div> <!--subheader-->

  <!-- *********************  Title  ********************* -->
  <section class="clearfix">
    <h1>Edit <%=@project.name%></h1>

    <!-- *********************  Errors  ********************* -->
    <%if @project && @project.errors.any?%>
      <div class="flash wrapper home-user-options clearfix">
        <%=@project.errors.full_messages.to_sentence%> </br>
      </div>
    <%end%>

    <%if @room && @room.errors.any?%>
      <div class="flash wrapper home-user-options clearfix">
        <%=@room.errors.full_messages.to_sentence%> </br>
      </div>
    <%end%>

    <!-- *********************  Project Edit Form  ********************* -->
    <div class = "form clearfix">
      <form action="/users/<%=@project.user.slug%>/projects/<%=@project.slug%>" method="POST" id='edit_project'>
        <input id="hidden" type="hidden" name="_method" value="patch">  
          <table>
            <tr>
              <th>Project Name:</th>
              <td><input type='text' name='name' value='<%= params[:name] == nil ? @project.name.capitalize : params[:name]%>' ></td>
              <td> </td> <td> </td>
              <td><input type='submit' value='Update Project'></td>
            </tr> 
            <tr>
              <th>Cost ($):</th>
              <td><input type='text' name='cost' value='<%=params[:cost] == nil ? @project.cost : params[:cost]%>'></td>
            </tr> 
          <tr>
            <th>Duration (hr):</th>
            <td><input type='text' name='duration' value='<%=params[:duration] == nil ? @project.duration : params[:duration]%>'></td>
          </tr>  
          <tr>
            <th>Add to New Room:</th>
            <td><input type='text' name='new_room' value='<%=params[:new_room] == nil ? "" : params[:new_room]%>'></td>
          </tr>
          <tr>
            <th>Add to an existing room:</th>
            <td>            
              <%current_user.rooms.each do |room|%>
                <% if @project.room.name == room.name %>
                  <input type='radio' name = 'room' value='<%=room.name%>' id='<%=room.name%>' checked><%=room.name.capitalize%> </br> 
                <%else%>
                  <input type='radio' name = 'room' value='<%=room.name%>' id='<%=room.name%>'><%=room.name.capitalize%> </br> 
                <%end%>
              <%end%> </br>
            </td>
          </tr>
          <tr>
            <th>Project Status:</th>
            <td>
              <%if @project.status == "Not started"%>
                <input type = 'radio' name='status' value = 'Not started' id = 'Not started' checked>Not Started</br>
                <input type = 'radio' name='status' value = 'In progress' id = 'In progress'>In Progress</br>
                <input type = 'radio' name='status' value = 'Complete' id = 'Complete'>Complete</br>
              <%elsif @project.status == "In progress"%>
                <input type = 'radio' name='status' value = 'Not started' id = 'Not started'>Not Started</br>
                <input type = 'radio' name='status' value = 'In progress' id = 'In progress' checked>In Progress</br>
                <input type = 'radio' name='status' value = 'Complete' id = 'Complete'>Complete</br>
              <%else%>
                <input type = 'radio' name='status' value = 'Not started' id = 'Not started'>Not Started</br>
                <input type = 'radio' name='status' value = 'In progress' id = 'In progress'>In Progress</br>
                <input type = 'radio' name='status' value = 'Complete' id = 'Complete' checked>Complete</br>
              <%end%>
            </td>
          </tr>
          <tr>
            <th>Notes:</th>
            <td><textarea type='text' name='description' value='<%=@project.description%>'><%=params[:description] == nil ? @project.description : params[:description]%></textarea></td>
          </tr>
          <tr>
            <th>Materials:</th>
            <td><textarea type='text' name='materials' value='<%=@project.materials%>' form='edit_project'><%=params[:materials] == nil ? @project.materials : params[:materials]%></textarea></td>
          </tr>
        </table>
      </form>
    </div>
  </section>
<%end%>