<h1><%=@project.name.capitalize%></h1>
<p><%=@project.description%></p></br>

<h3>Status</h3>
<p><%=@project.status%></p></br>

<h3>Room</h3>
<p><%=@project.room.name%></p></br>

<h3>Materials</h3>
<p><%=@project.materials%></p>

</br> </br>

<a href='/projects/<%=@project.slug%>/edit'>Edit Project</a></br>

<form action="/projects/<%=@project.slug%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">  
  <input type='submit' value='Delete Project'>
</form>