<%content_for :main do %>
  <%if current_user.rooms.empty? == false%>
    <section class = "clearfix"> 
      <div class='section-title'>
        <h1><%=@project.name.capitalize%></h1>
        <a href='/projects/<%=@project.slug%>/edit'><img src='/images/edit-icon.png' alt="Edit Project"></a>
        <form action="/projects/<%=@project.slug%>" method="POST">
          <input id="hidden" type="hidden" name="_method" value="delete">  
          <input type='image' src="/images/delete-icon.png" alt = "Delete Project" class="fsSubmitButton">
        </form>
      </div>
     <p><%=@project.description%></p></br>

      <h3>Status</h3>
      <p><%=@project.status%></p></br>

      <h3>Room</h3>
      <p><%=@project.room.name%></p></br>

      <h3>Materials</h3>
      <p><%=@project.materials%></p>
    </section>


  <%end%>




<%end%>

<%content_for :sidebar do%>
  <section>
    <h1>Sidebar</h1>
  </section>
<%end%>
