<%content_for :main do %>
  <section class="clearfix">
    <h1>Edit <%=@room.name.capitalize%></h1>

    <%if @room && @room.errors.any?%>
      <div class="flash wrapper home-user-options clearfix">
        <%=@room.errors.full_messages.to_sentence%>
      </div>
    <%end%>

    <div class = "form clearfix">
      <form action="/users/<%=@room.user.slug%>/rooms/<%=@room.slug%>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">
        <table>
          <tr>
            <th>Room Name:</th>
            <td><input type='text' name='name' value='<%=@room.name.capitalize%>'></td>
            <td> </td> <td> </td>
            <td><input type='submit' value='Update Room'></td>
          </tr>    
        </table>
      </form>
    </div>
  </section>
<%end%>

<%content_for :sidebar do%>
  <section>
    <h1>Sidebar</h1>
  </section>
<%end%>
