<%content_for :main do %>

  <div id="subheader">
    <h4><a href="/users/<%=@room.user.slug%>"><%=@room.user.name.capitalize%>'s Home</a> &nbsp;>&nbsp; <a href="/users/<%=@room.user.slug%>/rooms/<%=@room.slug%>"><%=@room.name.capitalize%></a></h4>
  </div> <!--subheader-->


  <section class = "clearfix"> 
    <div class='section-title'>
      <h1><%=@room.name.capitalize%></h1>
      <%if current_user == @room.user%>
        <a href='/users/<%=@room.user.slug%>/rooms/<%=@room.slug%>/edit'><img src='/images/edit-icon.png' alt="Edit Room"></a>
        <form action="/users/<%=@room.user.slug%>/rooms/<%=@room.slug%>" method="POST">
          <input id="hidden" type="hidden" name="_method" value="delete">  
          <input type='image' src="/images/delete-icon.png" alt = "Delete Project" class="fsSubmitButton">
        </form>
      <%end%>
    </div>

    <div class="grid clearfix">
      <%@room.incomplete_projects.each do |project|%>
        <a href="/users/<%=project.user.slug%>/projects/<%=project.slug%>"><%=project.name.capitalize%></a>
      <%end%>
    </div>


    <div class='section-title'>
      <h3>Completed</h3>
    </div>

    <div class="grid clearfix">
      <%@room.complete_projects.each do |project|%>
        <a href="/users/<%=project.user.slug%>/projects/<%=project.slug%>"><%=project.name.capitalize%></a>
      <%end%>
    </div>
  </section>
<%end%>

<%content_for :sidebar do%>
  <section class='panel'>
    <div class='panel-item'>
      <h4>Projects Completed</h4>
      <h3><%=@room.number_of_projects_completed%></h3></br>
    </div>
    <div class='panel-item'>
      <h4>Total Cost of Room</h4>
      <h3>$<%=@room.total_cost%></h3></br>
    </div>
    <div class='panel-item'>
      <h4>Time to Finish Room</h4>
      <h3><%=@room.total_duration%> hours</h3></br>
    </div>
  </section>
<%end%>


